<div id="no-content">
  <div class="center-block" style="width:30%; height:30%;max-width:250px; max-height:250px;">
    <img src="../static/res/watson_logo.png" alt="" class="img-responsive">
    <h3 class="text-center">Feel the burn!</h3>
  </div>
</div>

<!-- Content will be placed in this dialog -->
<div id="center-dialog" class="center-wrapper"></div>


<div id="center-dialog-two" style="display:none;">

  <!-- answer -->
  <div class="md-card card-answer">
    <div class="md-card-heading">
      <div class="title">
        <div class="subtitle">
          I think this might work for you ...
        </div>
      </div>
    </div>
    <div class="md-card-body">
      <div class="col-xs-12 col-sm-3">
        <img class="media-object" src="../static/res/barbellsquat.png" height="100px">
      </div>
      <div class="col-xs-12 col-sm-9">
        <h3 class="media-heading">Barbell Squats</h3>
        <br>
        <p>Primary muscles:  <a href="https://en.wikipedia.org/wiki/Quadriceps_femoris_muscle">Quadricepts</a></p>
        <p>Secondary muscles: <a href="https://en.wikipedia.org/wiki/Calf_(leg)">Calves</a>, <a href="https://en.wikipedia.org/wiki/Gluteal_muscles">Glutes</a>, <a href="https://en.wikipedia.org/wiki/Hamstring">Hamstrings</a></p>
        <p>Based on your profile stats and goals, I recommend you complete this exercise 2 times/week,
        at an approximate weight of 100 lbs and set/rep count of 3/10.</p>
        <a href="#">See more info about this exercise >>> </a>
      </div>
    </div>
  </div>

  <div class="md-card card-question">
    <div class="md-card-body">
      What's a good weight training exercise for legs?
    </div>
  </div>

</div>
