<script src="../static/js/workout.js"></script>

<div class="center-wrapper">

    <div class="md-card">
      <div class="md-card-heading default" style="background: aqua;">
        <div class="title">
          Nutrition plan
          <!-- <div class="subtitle">
            Week of /{ insert the week here/}
          </div> -->
        </div>
        <div class="md-tabs">
          <ul>
            <!-- select the day that is active -->
            <li>
              <a id="0">Monday</a>
            </li>
            <li>
              <a id="1">Tuesday</a>
            </li>
            <li>
              <a id="2">Wednesday</a>
            </li>
            <li>
              <a id="3">Thursday</a>
            </li>
            <li>
              <a id="4">Friday</a>
            </li>
            <li>
              <a id="5">Saturday</a>
            </li>
            <li>
              <a id="6">Sunday</a>
            </li>
            <span class="indicator"></span>
          </ul>
        </div>
      </div>
      <div class="md-card-body">

        <!-- BREAKFAST -->
        <a class="nutrition-header">
          <i class="material-icons icon">free_breakfast</i>
          <h4 class="text">Breakfast</h4>
        </a>
        <div id="workouts-list" class="md-list">
          <ul class="sparse">
            <!-- labels -->
            <li>
              <div class="col-xs-4">
                Food
              </div>
              <div class="col-xs-5">
                Calories (per serving)
              </div>
              <div class="col-xs-3">
                <button id="add-workout" class="md-button flat" style="float:right;">
                  <i class="material-icons">note_add</i>
                </button>
              </div>
            </li>

            <!-- food -->
            <li>
              <!-- normal -->
              <a>
                <div class="col-xs-4">
                  Cheerios
                </div>
                <div class="col-xs-5">
                  108 (28 g)
                </div>
                <div class="col-xs-3">
                  <button class="md-button flat" style="float:right;">
                    <i class="material-icons">mode_edit</i>
                  </button>
                </div>
              </a>
            </li>
          </ul>
        </div>

        <br>

        <!-- LUNCH -->
        <div class="nutrition-header">
          <i class="material-icons icon">local_pizza</i>
          <h4 class="text">Lunch</h4>
        </div>
        <div id="workouts-list" class="md-list">
          <ul class="sparse">
            <!-- labels -->
            <li>
              <div class="col-xs-4">
                Food
              </div>
              <div class="col-xs-5">
                Calories (per serving)
              </div>
              <div class="col-xs-3">
                <button id="add-workout" class="md-button flat" style="float:right;">
                  <i class="material-icons">note_add</i>
                </button>
              </div>
            </li>

            <!-- food -->
            <li>
              <!-- normal -->
              <a>
                <div class="col-xs-4">
                  Cheerios
                </div>
                <div class="col-xs-5">
                  108 (28 g)
                </div>
                <div class="col-xs-3">
                  <button class="md-button flat" style="float:right;">
                    <i class="material-icons">mode_edit</i>
                  </button>
                </div>
              </a>
            </li>
          </ul>
        </div>

        <br>

        <!-- Dinner -->
        <div class="nutrition-header">
          <i class="material-icons icon">restaurant</i>
          <h4 class="text">Dinner</h4>
        </div>
        <div id="workouts-list" class="md-list">
          <ul class="sparse">
            <!-- labels -->
            <li>
              <div class="col-xs-4">
                Food
              </div>
              <div class="col-xs-5">
                Calories (per serving)
              </div>
              <div class="col-xs-3">
                <button id="add-workout" class="md-button flat" style="float:right;">
                  <i class="material-icons">note_add</i>
                </button>
              </div>
            </li>

            <!-- food -->
            <li>
              <!-- normal -->
              <a>
                <div class="col-xs-4">
                  Cheerios
                </div>
                <div class="col-xs-5">
                  108 (28 g)
                </div>
                <div class="col-xs-3">
                  <button class="md-button flat" style="float:right;">
                    <i class="material-icons">mode_edit</i>
                  </button>
                </div>
              </a>
            </li>
          </ul>
        </div>


      </div>
    </div>

  </div>
</div>
