<div class="center-wrapper">
  <div class="md-card bottom-0">
    <div class="md-card-heading default">
      <div class="title">
        <b>Nutrition Results:</b>
      </div>
    </div>
	<hr>
	<div style="margin-left:20px;">The following foods were found that closely match the nutrition information you entered:</div>
	<div style="margin-left:30px;">
	<h4>Chicken:</h4>
	<ul>
	<li>Description: A poultry meat high in protein, low in fat, and a favourite among bodybuilders.  Recommended for those wanting to gain muscle mass while cutting carbs and fats. </li>
	<li>Protein per Serving: 43g</li>
	<li>Fiber per Serving: 0g</li>
	<li>Calories per Serving: 230 cal</li> 
	<li>Sodium per Serving: 104mg</li>
	<li>Carbs per Serving: 0</li>
	<li>Fats per Serving: 5g</li>
	</ul>
	<h4>Turkey:</h4>
	<ul>
	<li>Description: A poultry meat that is generally inexpensive and is a recommended source of protein.  Low in fats, high in protein, and cheap.  Serving size is given as about 33g.</li>
	<li>Protein per Serving: 6g</li>
	<li>Fiber per Serving: 0g</li>
	<li>Calories per Serving: 34 cal</li> 
	<li>Sodium per Serving: 335mg</li>
	<li>Carbs per Serving: 1g</li>
	<li>Fats per Serving: 1g</li>
	</ul>
	<h4>Tofu:</h4>
	<ul>
	<li>Description: A protein substitute made by coagulating soy milk into blocks.  High in protein and low in fat.  A favourite among vegetarians. </li>
	<li>Protein per Serving: 28g</li>
	<li>Fiber per Serving: 0g</li>
	<li>Calories per Serving: 88 cal</li> 
	<li>Sodium per Serving: 15mg</li>
	<li>Carbs per Serving: 1</li>
	<li>Fats per Serving: 5g</li>
	</ul>
	</div>
  </div>
</div>
