body {
  min-height: 100%;
  height: 100%;
  padding-top: 50px;

  background-url: http://api.thumbr.it/whitenoise-361x370.png?background=#F5F5F5ff&noise=626262&density=13&opacity=6;
}

/*Top nav styles*/
.navbar-default {
  border-width: 0px;
  border-radius: 0px;
}
#top-bar {
  background-color: #d2dfe1;
}



/*Main content styles*/
#panel-left {
  min-height: 100%;
  height: 100%;
  background-color: #006064;
}
#panel-center {
  padding-top: 15px;
}
.panel-answer {
  width: auto;
  max-width: 80%;
  float: left;
}
.panel-question {
  width: auto;
  max-width: 80%;
  float: right;
}
.panel-question .panel-body {
  background-color: #E0F7FA;
  text-align: right;
}
