/*
  Material Design components
*/
/* Variables */
/* Material Icons */
.material-icons {
  -webkit-user-select: none;
  user-select: none; }
  .material-icons.mi-18 {
    font-size: 18px; }
  .material-icons.mi-24 {
    font-size: 24px; }
  .material-icons.mi-36 {
    font-size: 36px; }
  .material-icons.mi-48 {
    font-size: 48px; }

/* Card */
.md-card {
  padding-bottom: 24px;
  margin-bottom: 20px;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background-color: white;
  color: rgba(0, 0, 0, 0.87); }
  .md-card.bottom-0 {
    padding-bottom: 0px; }
  .md-card.bottom-16 {
    padding-bottom: 16px; }
  .md-card.bottom-24 {
    padding-bottom: 24px; }
  .md-card .md-card-heading {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    padding-bottom: 16px; }
    .md-card .md-card-heading .title {
      padding: 24px 16px 0px;
      font-size: 24px; }
      .md-card .md-card-heading .title .subtitle {
        font-size: 16px;
        color: rgba(0, 0, 0, 0.54); }
    .md-card .md-card-heading .md-tabs {
      margin-bottom: -24px; }
  .md-card .md-card-body {
    padding: 16px 16px 0px;
    font-size: 16px; }
  .md-card .md-card-actions-layer {
    padding: 8px;
    margin-top: 16px; }
    .md-card .md-card-actions-layer .action-text {
      padding: 8px;
      margin-right: 8px; }
    .md-card .md-card-actions-layer .action-icon {
      margin-right: 8px; }
  .md-card .md-card-actions-stacked {
    padding: 8px 8px 4px 8px;
    margin-top: 16px; }
    .md-card .md-card-actions-stacked .action-text {
      padding: 8px;
      margin-bottom: 4px; }

/* List feeds */
.md-list {
  margin: 0 -15px;
  font-size: 16px; }
  .md-list ul li.active > a {
    color: white;
    background-color: #00838F; }
  .md-list ul li a {
    height: 100%;
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    display: block;
    line-height: 1; }
    .md-list ul li a:hover {
      background-color: #0097A7; }
    .md-list ul li a:focus {
      background-color: inherit; }
  .md-list ul li .icon {
    padding: 0 0 0 16px;
    position: absolute;
    line-height: 0.7; }
  .md-list ul li .text {
    padding: 0 16px 0 72px; }
  .md-list ul.sparse {
    padding: 8px 0 0 0; }
    .md-list ul.sparse li {
      height: 48px;
      display: block; }
      .md-list ul.sparse li a {
        padding: 16px 0; }
  .md-list ul.dense {
    padding: 4px 0 0 0; }
    .md-list ul.dense li {
      height: 40px;
      display: block; }
      .md-list ul.dense li a {
        padding: 12px 0; }

/* Tabs */
.md-tabs {
  overflow-x: auto;
  font-size: 14px; }
  .md-tabs ul {
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    display: table; }
    .md-tabs ul li {
      min-width: 72px;
      max-width: 264px;
      height: 48px;
      margin: 0;
      padding: 0px 12px;
      display: inline-block;
      text-align: center;
      vertical-align: middle;
      line-height: 46px;
      text-transform: uppercase; }
    .md-tabs ul .indicator {
      position: absolute;
      bottom: 0;
      height: 2px;
      background-color: #f6b2b5;
      will-change: left, right; }
  .md-tabs ul.center {
    margin-left: auto;
    margin-right: auto; }

/* Buttons */
.md-button {
  min-width: 64px;
  height: 36px;
  padding: 0px 16px;
  margin-right: 8px;
  border: 0;
  border-radius: 2px;
  z-index: 0;
  line-height: 36px;
  font-size: 14px;
  text-transform: uppercase;
  /* Color classes */ }
  .md-button.flat {
    background-color: transparent;
    color: rgba(0, 0, 0, 0.87); }
    .md-button.flat:hover {
      background-color: rgba(153, 153, 153, 0.18); }
    .md-button.flat:active, .md-button.flat:focus {
      background-color: rgba(153, 153, 153, 0.4); }
    .md-button.flat.primary {
      background: cyan;
      color: rgba(0, 0, 0, 0.87); }
      .md-button.flat.primary:hover {
        background-color: #85ffff; }
      .md-button.flat.primary:active, .md-button.flat.primary:focus {
        background-color: white; }
  .md-button.raised:hover {
    background-color: rgba(152, 152, 152, 0.12); }
  .md-button.raised:active, .md-button.raised:focus {
    background-color: rgba(152, 152, 152, 0.4); }
  .md-button.raised.primary {
    background-color: #00b8d4; }
    .md-button.raised.primary:hover {
      background-color: rgba(0, 184, 212, 0.12); }
    .md-button.raised.primary:active, .md-button.raised.primary:focus {
      background-color: rgba(0, 184, 212, 0.4); }
  .md-button.dense {
    height: 32px;
    font-size: 13px; }
  .md-button:hover {
    background-color: rgba(152, 152, 152, 0.12); }
  .md-button:active, .md-button:focus {
    background-color: rgba(152, 152, 152, 0.4); }

/* Text fields and Forms */
input, textarea, div[contenteditable] {
  width: 100%;
  height: 36px;
  border: none;
  border-bottom: 1px solid rgba(117, 117, 117, 0.15);
  background-color: transparent;
  box-shadow: none;
  font-family: inherit;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.87);
  cursor: text; }
  input.active, input:focus, textarea.active, textarea:focus, div[contenteditable].active, div[contenteditable]:focus {
    outline: none;
    border-bottom: 2px solid aqua;
    box-shadow: none; }

textarea, div[contenteditable] {
  min-height: 36px;
  height: auto;
  max-height: 300px;
  padding-top: 8px;
  resize: none;
  overflow: auto; }

div[contenteditable]:empty:before {
  display: block;
  content: attr(placeholder);
  color: rgba(0, 0, 0, 0.54); }

.md-form * {
  margin-top: 8px; }

/* Data table */
table.md-table {
  width: 100%; }
  table.md-table thead {
    color: rgba(0, 0, 0, 0.54);
    font-size: 12px; }
    table.md-table thead tr {
      height: 56px;
      border-bottom: solid 1px rgba(0, 0, 0, 0.12); }
      table.md-table thead tr th, table.md-table thead tr td {
        padding: 0 12px; }
  table.md-table tbody {
    color: rgba(0, 0, 0, 0.87);
    font-size: 13px; }
    table.md-table tbody tr {
      height: 48px;
      border-bottom: solid 1px rgba(0, 0, 0, 0.12); }
      table.md-table tbody tr td {
        padding: 0 12px; }
      table.md-table tbody tr td.numeric {
        text-align: right; }

/* Universal Page Components */
body {
  max-height: 100vh;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 400;
  background-color: rgba(0, 0, 0, 0.05);
  overflow-y: hidden;
  text-rendering: optimizeLegibility; }
  body > .row {
    overflow-y: hidden; }

hr {
  height: 1px;
  background-color: rgba(0, 0, 0, 0.12); }

.visible {
  display: block !important; }

/*Main content styles*/
@media screen and (max-width: 767px) {
  #panel-left {
    height: 100vh;
    max-width: 350px;
    position: absolute;
    box-shadow: none !important;
    z-index: 999;
    transform: translate(-100%);
    overflow-y: auto;
    overflow-x: hidden;
    transition: transform 0.218s cubic-bezier(0.215, 0.61, 0.355, 1); }

  #panel-left.expanded {
    transform: translate(0%);
    transition: transform 0.218s cubic-bezier(0.215, 0.61, 0.355, 1); }

  #page-mask {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 40;
    display: none;
    position: absolute;
    top: 0;
    left: 0; }

  #query-group input {
    padding: 0 64px !important; }
  #query-group #input-menu {
    display: table-cell !important; }
  #query-group #drawer-exit {
    color: white;
    display: inline !important;
    position: fixed;
    top: 5px;
    right: 5px; } }
#panel-left {
  height: 100vh;
  background-color: #005b64;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
  overflow-y: auto;
  z-index: 50;
  color: white; }
  #panel-left > * {
    border-bottom: solid 1px rgba(0, 0, 0, 0.12); }
  #panel-left .header {
    height: 64px; }
    #panel-left .header .bg-img {
      position: absolute;
      -webkit-filter: blur(0px); }
      #panel-left .header .bg-img img {
        width: 100%; }
    #panel-left .header a {
      color: white; }
      #panel-left .header a:hover, #panel-left .header a:focus {
        text-decoration: none; }
  #panel-left #account {
    padding: 16px 0px; }
    #panel-left #account span .user-pic {
      font-size: 36px;
      margin-bottom: 4px; }
    #panel-left #account span .user-name {
      margin: 0px;
      float: left; }
    #panel-left #account span .carrot {
      float: right; }
  #panel-left #feedback {
    width: 90%;
    margin-top: 12px;
    margin-left: auto;
    margin-right: auto;
    display: block; }

#panel-center {
  max-height: 100vh;
  padding-top: 0px; }

#cw-app-bar {
  height: 64px;
  width: 100%;
  background-color: #0097A7;
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 30; }
  #cw-app-bar .app-bar-container {
    height: 48px; }

#input-menu {
  display: none; }

#input-clear {
  display: none; }

#drawer-exit {
  display: none; }

#query-group {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
  background: white;
  overflow: hidden;
  position: relative; }
  #query-group .query-group-addon {
    position: absolute;
    top: 12px; }
    #query-group .query-group-addon.left {
      left: 20px; }
    #query-group .query-group-addon.right {
      right: 20px; }
  #query-group input {
    width: 100%;
    height: 48px;
    padding: 0 64px 0 24px;
    border-radius: inherit;
    border: none;
    outline: none;
    background: transparent; }
    #query-group input:focus + #input-mic {
      display: none; }
    #query-group input:focus + #input-mic + #input-clear {
      display: block; }

#cw-app-content {
  height: calc(100vh - 64px);
  padding-top: 15px;
  margin-top: 64px;
  overflow-y: auto; }

.center-wrapper {
  max-width: 950px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px 15px; }

#center-dialog {
  display: none; }
  #center-dialog.visible {
    display: block; }
  #center-dialog .col-xs-12 {
    padding: 0; }

#no-content {
  position: relative;
  top: 50%;
  transform: translateY(-70%); }
  #no-content.invisible {
    display: none; }

#feedback-dialog {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 500;
  display: none; }
  #feedback-dialog .md-dialog {
    width: 60%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto; }
    #feedback-dialog .md-dialog .md-card .md-card-heading {
      background-color: inherit;
      position: relative; }
      #feedback-dialog .md-dialog .md-card .md-card-heading .exit {
        position: absolute;
        top: 0;
        right: 0; }

/* Material extenders */
.card-question {
  width: auto;
  max-width: 80%;
  background-color: #e0f7fa;
  text-align: right;
  float: right; }

.card-answer {
  width: auto;
  max-width: 80%;
  float: left; }

/*# sourceMappingURL=cw_app.css.map */
