/*
  Material Design components
*/
/* Material Icons */
.material-icons {
  -webkit-user-select: none;
  user-select: none; }
  .material-icons.md-18 {
    font-size: 18px; }
  .material-icons.md-24 {
    font-size: 24px; }

/* Card */
.card {
  padding-bottom: 24px;
  margin-bottom: 20px;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background-color: white; }
  .card.bottom-0 {
    padding-bottom: 0px; }
  .card.bottom-16 {
    padding-bottom: 16px; }
  .card.bottom-24 {
    padding-bottom: 24px; }
  .card .card-heading {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    background-color: aqua;
    padding-bottom: 16px; }
    .card .card-heading .title {
      padding: 24px 16px 0px;
      font-size: 24px; }
      .card .card-heading .title .subtitle {
        font-size: 16px; }
  .card .card-body {
    padding: 16px 16px 0px;
    font-size: 16px; }
  .card .card-actions-layer {
    padding: 8px;
    margin-top: 16px; }
    .card .card-actions-layer .action-text {
      padding: 8px;
      margin-right: 8px; }
    .card .card-actions-layer .action-icon {
      margin-right: 8px; }
  .card .card-actions-stacked {
    padding: 8px 8px 4px 8px;
    margin-top: 16px; }
    .card .card-actions-stacked .action-text {
      padding: 8px;
      margin-bottom: 4px; }

/* Tabs */
ul.tabs {
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  display: table; }
  ul.tabs li {
    margin: 0;
    padding: 0px 10px;
    display: inline; }

/* Buttons */
.md-button {
  min-width: 64px;
  height: 36px;
  padding: 0px 16px;
  margin-right: 8px;
  border: 0;
  border-radius: 3px;
  z-index: 0;
  /* Color classes */ }
  .md-button .btn-dense {
    height: 32px; }
  .md-button.primary {
    background-color: #00b8d4; }
  .md-button.primary:hover {
    background-color: rgba(0, 184, 212, 0.12); }
  .md-button.primary:active, .md-button.primary:focus {
    background-color: rgba(0, 184, 212, 0.4); }
  .md-button:hover {
    background-color: rgba(152, 152, 152, 0.12); }
  .md-button:active, .md-button:focus {
    background-color: rgba(152, 152, 152, 0.4); }

/* Text fields */
.md-form * {
  margin-top: 8px; }
.md-form input {
  width: 100%;
  height: 36px;
  border: none;
  border-bottom: 1px solid rgba(117, 117, 117, 0.15);
  background-color: transparent;
  box-shadow: none;
  font-size: 15px;
  font-family: inherit;
  font-weight: 300; }
  .md-form input.active, .md-form input:focus {
    outline: none;
    border-bottom: 2px solid black;
    box-shadow: none; }

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 10px; }

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3); }

/* Universal Page Components */
body {
  max-height: 100vh;
  font-family: 'Roboto', sans-serif;
  background-color: rgba(0, 0, 0, 0.05);
  overflow-y: hidden; }
  body > .row {
    overflow-y: hidden; }

hr {
  height: 1px;
  background-color: rgba(0, 0, 0, 0.12); }

/*Main content styles*/
@media screen and (max-width: 767px) {
  #panel-left {
    height: 100vh;
    max-width: 350px;
    position: absolute;
    box-shadow: none !important;
    z-index: 999;
    transform: translate(-100%);
    overflow-y: auto;
    overflow-x: hidden;
    transition: transform 0.218s cubic-bezier(0.215, 0.61, 0.355, 1); }

  #panel-left.expanded {
    transform: translate(0%);
    transition: transform 0.218s cubic-bezier(0.215, 0.61, 0.355, 1); }

  #page-mask {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 40;
    display: none;
    position: absolute;
    top: 0;
    left: 0; }
    #page-mask.visible {
      display: block; }

  #query-group input {
    padding: 0 72px !important; }
  #query-group #input-menu {
    display: table-cell !important; }
  #query-group #drawer-exit {
    color: white;
    display: inline !important;
    position: fixed;
    top: 5px;
    right: 5px; } }
#panel-left {
  height: 100vh;
  background-color: #005b64;
  color: white;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
  z-index: 50; }
  #panel-left .header {
    height: 64px; }
    #panel-left .header .bg-img {
      position: absolute;
      -webkit-filter: blur(0px); }
      #panel-left .header .bg-img img {
        width: 100%; }
    #panel-left .header a {
      color: white; }
      #panel-left .header a:hover, #panel-left .header a:focus {
        text-decoration: none; }
  #panel-left #account {
    padding: 16px 0px; }
    #panel-left #account span .user-pic {
      font-size: 36px;
      margin-bottom: 4px; }
    #panel-left #account span .user-name {
      margin: 0px;
      float: left; }
    #panel-left #account span .carrot {
      float: right; }
  #panel-left .nav-pills {
    margin: 0px -15px; }
  #panel-left .nav-pills > li {
    margin-top: 0; }
    #panel-left .nav-pills > li i {
      float: right; }
    #panel-left .nav-pills > li.active > a {
      color: white;
      background-color: #00838F; }
    #panel-left .nav-pills > li a {
      border-radius: 0;
      color: rgba(255, 255, 255, 0.7);
      font-size: 16px; }
      #panel-left .nav-pills > li a:hover {
        background-color: #0097A7; }
      #panel-left .nav-pills > li a:focus {
        background-color: inherit; }

#panel-center {
  max-height: 100vh;
  padding-top: 0px; }

#cw-app-bar {
  height: 64px;
  width: 100%;
  background-color: #0097A7;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 30; }
  #cw-app-bar .app-bar-container {
    height: 48px; }

#query-group {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
  background: white;
  overflow: hidden;
  position: relative; }
  #query-group .query-group-addon {
    position: absolute;
    top: 12px; }
    #query-group .query-group-addon.left {
      left: 24px; }
    #query-group .query-group-addon.right {
      right: 24px; }
  #query-group input {
    width: 100%;
    height: 48px;
    padding: 0 72px 0 24px;
    border-radius: inherit;
    border: none;
    outline: none;
    background: transparent; }
    #query-group input:focus + #input-mic {
      display: none; }
    #query-group input:focus + #input-mic + #input-clear {
      display: block; }

#cw-app-content {
  height: calc(100vh - 64px);
  padding-top: 15px;
  margin-top: 64px;
  overflow-y: auto; }

#center-dialog {
  display: none;
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px 15px; }
  #center-dialog.visible {
    display: block; }

#no-content {
  position: relative;
  top: 50%;
  transform: translateY(-70%); }
  #no-content.invisible {
    display: none; }

.input-group input, .input-group input:focus {
  border-radius: 3px;
  box-shadow: none; }
.input-group input:focus + #input-mic {
  display: none; }
.input-group input:focus + #input-mic + #input-clear {
  display: table-cell; }

.input-group-addon {
  border: 0px;
  border-radius: 3px !important;
  background-color: white; }

.form-control {
  border: 0px;
  background-color: white; }

#input-menu {
  display: none; }

#input-clear {
  display: none; }

#drawer-exit {
  display: none; }

.panel {
  border: 0px;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
  .panel .panel-heading {
    border: none;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit; }

.panel-answer {
  width: auto;
  max-width: 80%;
  float: left; }
  .panel-answer .panel-heading {
    background-color: #8cc640; }

.panel-question {
  width: auto;
  max-width: 80%;
  float: right; }
  .panel-question .panel-body {
    background-color: #e0f7fa;
    text-align: right; }

/* Material extenders */
.card-question {
  width: auto;
  max-width: 80%;
  background-color: #e0f7fa;
  text-align: right;
  float: right; }

.card-answer {
  width: auto;
  max-width: 80%;
  float: left; }

/*# sourceMappingURL=cw_app.css.map */
