@import "material";

body {
  font-family: 'Roboto', sans-serif;
  background-color: rgba(0,0,0,.05);
}

#about-app-bar {
  height: 64px;
  position: fixed;
  padding-top: 15px;
  background-color: white;
  z-index: 500;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.4);

  h2 {
    margin: 0px;
  }

  button {
    float: right;
  }
}

#page-content {
  padding-top: 64px;
  overflow: hidden;

  #banner {
    width: 100vw;
    margin-left: -15px;
    overflow: hidden;
    position: absolute;

    img {
      width: 100%;
    }
  }

  #content-buffer {
    min-height: 64px;
    height: 15%;
    max-height: 100px;
  }
}

#footer-links {
  list-style: none;
  padding: 0 0 16px;
  margin: auto;
  display: table;

  li {
    padding: 0 8px;
    display: inline;
  }
}

// @media screen and (min-width: 600px) {
//   // #page-content > .row{
//   //   max-width: 950px !important;
//   //   margin-left: auto !important;
//   //   margin-right: auto !important;
//   // }
//   #content-stream {
//     margin-top: 35% !important;
//   }
//   #banner {
//     transform: translate(0, -15%) !important;
//   }
// }
