/* Material Icons */
.material-icons.md-18 {
  font-size: 18px;
}



/* Page Components */
body {
  min-height: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: rgba(0,0,0,.05);
  overflow-y: hidden;
}

hr {
  background-color: rgba(0,0,0,.12)
}


/*Main content styles*/
#panel-left {
  height: 100vh;
  min-height: 500px;
  padding: 0px;
  background-color: #006064;
}
.nav-pills>li {
  color: white;
}
.nav-pills>li>a {
  border-radius: 0;
  color: rgba(255,255,255,.7);
}
.nav-pills>li.active>a {
  color: rgba(255,255,255,1);
  background-color: #00838F;
}
.nav-pills>li>a:hover, .nav-pills>li.active>a:hover {
  color: rgba(255,255,255,1);
  background-color: #0097A7;
}
.nav-pills>li>a:hover, .nav-pills>li.active>a:focus {
  background-color: inherit;
}

#panel-center {
  height: 100%;
  padding-top: 0px;
}
#center-nav {
  padding: 15px 0px;
  background-color: #0097A7;
}
.input-group {
  height: 36px;
  border: 0px;
  border-radius: 3px;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.input-group > input, .input-group > input:focus {
  height: 100%;
  border-radius: 3px;
  box-shadow: none;
}
.input-group-addon {
  border: 0px;
  border-radius: 3px;
  background-color: white;
}
.form-control {
  border: 0px;
  background-color: white;
}

#center-content {
  padding-top: 15px;
  overflow-y: auto;
}
.panel{
  border: 0px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.panel-answer {
  width: auto;
  max-width: 80%;
  float: left;
}
.panel-question {
  width: auto;
  max-width: 80%;
  float: right;
}
.panel-answer .panel-heading {
  background-color: #8cc640;
}
.panel-question .panel-body {
  background-color: #e0f7fa;
  text-align: right;
}
