<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <!-- , user-scalable=no -->
  <meta name="theme-color" content="#ffffff"> <!-- Theme color for Chrome mobile -->

  <title>Watson PT</title>

  <!-- bootstrap -->
  <link rel="stylesheet" href="../static/bootstrap-3.3.6-dist/css/bootstrap.min.css" type='text/css'>
  <script src="../static/js/jquery.js"></script>
  <script src="../static/bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
  <!-- fonts -->
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- My files -->
  <link rel="stylesheet" href="../static/css/info_pages.css">
</head>

<body class="container-fluid">
  <div class="row">
    <!-- top nav bar -->
    <div id="about-app-bar" class="col-xs-12">
      <div class="row">
        <div class="col-xs-12">
          <h2>Coach <b>Watson</b></h2>
        </div>
      </div>
    </div>

    <div id="page-content" class="col-xs-12">
      <div id="banner">
        <img src="../static/res/hal404.jpg" alt="">
      </div>
      <div class="row">
        <div id="content-buffer"></div>
        <div id="content-stream" class="col-xs-12 col-sm-offset-2 col-sm-8">
          <div class="md-card bottom-0">
            <div class="md-card-heading default">
              <div class="title" style="text-align:center;">
                Just what do you think you're doing, Dave?
              </div>
            </div>
            <div class="md-card-body">
              Woops! Looks like that page doesn't exist - either becuase we broke something or you can't type.
              Click the button below to go to the home page.
            </div>
            <div class="md-card-actions-layer">
              <form id="go-home" action="/" method="get" style="display:none;"></form>
              <button class="md-button" type="submit" form="go-home">
                GO HOME
              </button>
            </div>
          </div>
        </div>

      </div>
    </div>


  </div>
</body>
</html>
