<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Watson PT</title>

  <!-- bootstrap -->
  <link rel="stylesheet" href="../static/bootstrap-3.3.6-dist/css/bootstrap.min.css" type='text/css'>
  <script src="../static/js/jquery.js"></script>
  <script src="../static/bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
  <!-- fonts -->
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- My files -->
  <script src="../static/js/index.js"></script>
  <link rel="stylesheet" href="../static/css/info_pages.css">
</head>

<body class="container-fluid">
  <div class="row">
    <!-- top nav bar -->
    <div id="about-app-bar" class="col-xs-12">
      <div class="row">
        <div class="col-xs-12 col-sm-7">
          <h2>Coach <b>Watson</b></h2>
        </div>
        <div class="col-xs-12 col-sm-5">
          <button class="md-button">LOG IN</button>
          <button class="md-button primary">SIGN UP</button>
        </div>
      </div>
    </div>

    <!-- Dialog -->
    <div id="page-content" class="col-xs-12">
      <div class="banner">
        <img src="../static/res/header.jpg" alt="">
      </div>
      <div class=row>
        <div id="content-stream" class="col-xs-12 col-sm-8">

          <div class="card">
            <div class="card-heading">
              <div class="title">
                Log In
              </div>
            </div>
            <div class="card-body">
              <form class="md-form" action="">
                <input id="user-name" placeholder="email" type="text">
                <input id="user-pass" placeholder="password" type="text">
              </form>
            </div>
            <div class="card-actions">
              <button class="md-button raised primary" type="button" name="button">
                Sign In
              </button>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              Bacon ipsum dolor amet dolor drumstick lorem rump, pork loin qui flank. Deserunt aute beef ribs sunt in fatback. Est in mollit beef ribs voluptate excepteur laboris dolore prosciutto shank ground round. Ribeye capicola ball tip sed drumstick in alcatra, eiusmod pancetta lorem short loin dolore salami beef turkey.
              Incididunt tongue nostrud, chicken brisket eiusmod picanha officia ribeye cupidatat mollit shoulder spare ribs exercitation magna. Nisi ut capicola id ball tip. Dolore cow bresaola voluptate pastrami ham, venison pancetta boudin. Short ribs non sint, est cillum culpa dolor incididunt commodo short loin beef. Ea irure sausage sint biltong.
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              Laboris proident doner fugiat commodo enim, flank salami chicken sint. Excepteur jowl pig t-bone nostrud swine. Est sint prosciutto pork, fugiat beef sirloin andouille tail non pork belly. Sausage boudin porchetta t-bone corned beef turkey ut id frankfurter ball tip doner venison deserunt sirloin sed. Shoulder deserunt frankfurter salami elit pastrami consequat sed excepteur jerky pancetta pork belly.
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              Ball tip reprehenderit eu laboris, occaecat ut exercitation. Brisket ut dolore shank. In commodo shankle tongue eu. Capicola laboris magna enim landjaeger bacon dolore kevin pork tempor meatloaf quis alcatra. Cow turkey porchetta veniam, sunt anim irure kevin consequat ut tri-tip cillum ut officia in.
              Short loin frankfurter veniam cupim. Cupim pariatur consectetur id pancetta. Minim kielbasa dolore, kevin magna swine pariatur laboris shoulder exercitation do. Culpa quis nisi short loin. Strip steak tenderloin pork belly elit.
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              Labore esse et nostrud fatback eiusmod short loin beef ribs rump brisket t-bone picanha prosciutto in cupidatat. Qui kielbasa doner ball tip ea flank. Pork belly jerky dolor short loin veniam eu magna venison. Pig jowl anim qui ea. Ribeye strip steak ad bacon deserunt ex sint filet mignon fugiat capicola short ribs consequat officia turducken boudin. Biltong reprehenderit sed ut non culpa sunt.
              Meatball jerky id occaecat enim non. Cow prosciutto eu, pork belly salami reprehenderit kielbasa kevin sunt corned beef esse drumstick. Ut drumstick bresaola t-bone. In kielbasa proident frankfurter mollit flank est short ribs commodo aute venison spare ribs ut hamburger minim.
              Does your lorem ipsum text long for something a little meatier? Give our generator a try… it’s tasty!
            </div>
          </div>

        </div>
      </div>

      <!-- <div id="app-bar-shadow"></div> -->

      <footer class="row">
        <hr/>
        <div class="col-xs-12">
          <div class="center-block">
            <ul id="footer-links">
              <li>
                <a href="">Contact</a>
              </li>
              <li>
                <a href="">Privacy</a>
              </li>
              <li>
                <a href="">Terms of Use</a>
              </li>
              <li>
                <a href="">Accessibility</a>
              </li>
            </ul>
          </div>
          <p class="text-center">
            Brought to you by the Coach Watson team. All rights reserved.
          </p>
        </div>
      </footer>
    </div>


  </div>
</body>
</html>
