<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="theme-color" content="#0097A7"> <!-- Theme color for Chrome mobile -->

  <title>{{ title }} - Coach Watson</title>
  <link rel="shortcut icon" href="{{ static_url('res/favicon.ico') }}">

  <!-- bootstrap -->
  <link rel="stylesheet" href="../static/bootstrap-3.3.6-dist/css/bootstrap.min.css" type='text/css'>
  <script src="../static/js/jquery.js"></script>
  <script src="../static/bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
  <!-- mobile events -->
  <script src="../static/js/jq-mobile-events.js"></script>
  <!-- fonts -->
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <!-- My files -->
  <script src="../static/js/app.js"></script>
  <script src="../static/js/ui_module.js"></script>
  <script src="../static/js/recorderjs/recorder.js"></script>
  <script src='https://code.responsivevoice.org/responsivevoice.js'></script>
  <!-- <script src="../static/js/speech_to_text.js"></script> -->
  <link rel="stylesheet" href="../static/css/cw_app.css">
</head>

<body class="container-fluid">
  <div class="row">

    <!-- LEFT PANEL -->
    <div id="panel-left" class="col-xs-8 col-sm-4 col-sm-3 col-lg-2">

      <div class="row header">
        <h2 class="text-center">Coach<b>Watson</b></h2>
      </div>

      <div id="account" class="row">
        <a id="profile" href="/profile">
          <div>
            <div id="user-pic" class="col-xs-12">
              <i class="material-icons mi-48">account_circle</i>
            </div>
            <div class="col-xs-12">
              <h4 class="user-name">
                {{ escape(current_user) }}
              </h4>
              <!-- <i class="material-icons carrot">expand_more</i> -->
            </div>
          </div>
        </a>
        <div>
          <form id="logout" style="display:none" action="/auth/logout" method="get"></form>
          <button class="md-button flat light-sec" type="submit" name="button" form="logout" style="float:right">SIGN OUT</button>
        </div>
      </div>

      <div class="md-list">
        <ul class="sparse">
          <li
            {% if title == "Ask Watson" %}
              {{ escape("class='active'") }}
            {% end %}
          >
            <a href="/askwatson">
              <i class="material-icons icon">question_answer</i>
              <p class="text">Ask Watson</p>
            </a>
          </li>
          <li
            {% if title == "Workout Plan" %}
              {{ escape("class='active'") }}
            {% end %}
          >
            <a href="/workout">
              <i class="material-icons icon">favorite</i>
              <p class="text">Workouts</p>
            </a>
          </li>
          <li
            {% if title == "Nutrition Plan" %}
              {{ escape("class='active'") }}
            {% end %}
          >
            <a href="/nutrition">
              <i class="material-icons icon">local_dining</i>
              <p class="text">Nutrition Planner</p>
            </a>
          </li>
          <!-- <li
            {% if title == None %}
              {{ escape("class='active'") }}
            {% end %}
          >
            <a href="goals">
              <i class="material-icons icon">timeline</i>
              <p class="text">Goal Tracker</p>
            </a>
          </li> -->
          <!-- <li
            {% if title == None %}
              {{ escape("class='active'") }}
            {% end %}
          >
            <a href="calendar">
              <i class="material-icons icon">event</i>
              <p class="text">Calendar</p>
            </a>
          </li> -->
        </ul>
      </div>

      <button id="feedback" class="md-button flat primary" type="button">GIVE FEEDBACK</button>

    </div>

    <!-- Page mask for mobile -->
    <div id="page-mask"></div>

    <!-- CENTER PANEL -->
    <div id="panel-center" class="col-xs-12 col-sm-9 col-lg-10">

      <!-- Top Nav bar -->
      <div id="cw-app-bar" class="row">
        <div class="app-bar-container col-xs-12">
          <form id="query-group">
            <span id="input-menu" class="query-group-addon left"><i class="material-icons">menu</i></span>
            <input id="query-bar" type="text" placeholder="What can I do ya for?" aria-describedby="basic-addon1" autocomplete="off">
            <canvas id="analyser" class="query-group-addon right" width="48" height="29"></canvas>
            <a id="record" href="#" onclick="toggleRecordingGlobal(this)"><span id="input-mic" class="query-group-addon right dark-dis"><i class="material-icons">mic</i></span></a>
            <span id="input-clear" class="query-group-addon right"><i class="material-icons">clear</i></span>
          </form>
        </div>
      </div>
      <!-- Center content / Dialog -->
      <div id="cw-app-content" class="row">

        <!-- THIS AREA WILL BE FILED WITH EACH PAGE CONTENT -->
        {% module Template(content, show_comments=True) %}

      </div>
    </div>
  </div>

  <!-- feeedback dialog -->
  <div id="feedback-dialog">
    <div class="md-dialog">
      <div class="md-card bottom-0">
        <div class="md-card-heading default">
          <i id="fb-clear" class="material-icons md-24 exit">clear</i>
          <div class="title">
            Give Us Feedback!
            <div class="subtitle">
              Something not working? Did Watson give a bad answer? Can we do better?
              Tell us below and we'll work on it!
            </div>
          </div>
        </div>
        <div class="md-card-body">
          <form id="feedback-form" name="feedback-form" action="/form/feedback" method="post">
            <textarea id="feedback-text" name="feedback-text" style="display: none;"></textarea>
          </form>
          <div id="fb-text" contenteditable placeholder="Enter text here..."></div>
        </div>
        <div class="md-card-actions-layer">
          <button class="md-button flat primary" type="submit" form="feedback-form">Submit</button>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
