<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Watson PT</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="/static/js/index.js"></script>
  <link rel="stylesheet" href="../static/css/styles.css">
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body class="container-fluid">
  <div class="row">

    <div id="panel-left" class="hidden-xs col-xs-4 col-sm-3 col-md-2">

      <ul class="nav nav-pills nav-stacked">
        <li>
          <a href="#">
            <span><img src="../static/res/watson_logo.png" alt="" height="48px"></span>
            <p>Coach Watson</p>
          </a>
        </li>
      </ul>

      <ul class="nav nav-pills nav-stacked">
        <li role="presentation" class="active">
          <a href="#">Ask Watson
            <span class="glyphicon glyphicon-list-alt" aria-hidden="true" style="float:right"></span>
          </a>
        </li>
        <li role="presentation">
          <a href="#">Workouts
            <span class="glyphicon glyphicon-heart" aria-hidden="true" style="float:right"></span>
          </a>
        </li>
        <li role="presentation">
          <a href="#">Nutrition Planner
            <span class="glyphicon glyphicon-apple" aria-hidden="true" style="float:right"></span>
          </a>
        </li>
        <li role="presentation">
          <a href="#">Goal Tracker
            <span class="glyphicon glyphicon-stats" aria-hidden="true" style="float:right"></span>
          </a>
        </li>
        <li role="presentation">
          <a href="#">Calendar
            <span class="glyphicon glyphicon-calendar" aria-hidden="true" style="float:right"></span>
          </a>
        </li>
      </ul>

    </div>

    <div id="panel-center" class="col-sm-9 col-md-10">

      <!-- top nav bar -->
      <div id="center-nav" class="row">
        <div class="col-xs-12">

          <div class="input-group">
            <span class="input-group-addon"><i class="material-icons">menu</i></span>
            <input type="text" class="form-control" placeholder="What can I do ya for?" aria-describedby="basic-addon1">
            <span class="input-group-addon"><i class="material-icons">mic</i></span>
          </div>

        </div>
      </div>

      <!-- Dialog -->
      <div id="center-content" class="row">
        <div class="col-xs-12">

          <!-- answer -->
          <div class="panel panel-default panel-answer">
            <div class="panel-heading">
              I think this might work for you ...
            </div>
            <div class="panel-body">
              <div class="media">
                <div class="media-left">
                  <a href="#">
                    <img class="media-object" src="../static/res/barbellsquat.png" height="100px">
                  </a>
                </div>
                <div class="media-body">
                  <h3 class="media-heading">Barbell Squats</h3>
                  <br>
                  <p>Primary muscles:  <a href="https://en.wikipedia.org/wiki/Quadriceps_femoris_muscle">Quadricepts</a></p>
                  <p>Secondary muscles: <a href="https://en.wikipedia.org/wiki/Calf_(leg)">Calves</a>, <a href="https://en.wikipedia.org/wiki/Gluteal_muscles">Glutes</a>, <a href="https://en.wikipedia.org/wiki/Hamstring">Hamstrings</a></p>
                  <p>Based on your profile stats and goals, I recommend you complete this exercise 2 times/week,
                  at an approximate weight of 100 lbs and set/rep count of 3/10.</p>
                  <a href="#">See more info about this exercise >>> </a>
                </div>
              </div>
            </div>
          </div>

          <!-- question -->
          <div class="panel panel-default panel-question">
            <div class="panel-body">
              What's a good weight training exercise for legs?
            </div>
          </div>

        </div>
      </div>


    </div>

  </div>
</body>
</html>
