<!doctype html>
<html lang="en-US">

    <head>
        <meta charset="UTF-8">
        <title>Coach Watson</title>

        <script src="/static/js/jquery.js"></script>
        <script src="/static/js/index.js"></script>

        <!--<link rel="stylesheet" type="text/css" href="/static/css/index.css">-->
        <link rel="icon" href="/static/res/favicon.ico" type="image/x-icon">
    </head>

    <body>
        <h1>Coach Watson</h1>
        <input type="text" id="ask-text">
        <button id="ask-button" type="button">Ask Coach Watson</button>
        <div id="answer-text"></div>
    </body>

</html>
