<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Watson PT</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="../static/js/index.js"></script>
  <link rel="stylesheet" href="../static/css/styles.css">
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body class="container-fluid">
  <div class="row">

    <!-- LEFT PANEL -->
    <div id="panel-left" class="col-xs-8 col-sm-4 col-sm-3 col-lg-2">

      <div class="row header">
        <a class="col-xs-12" href="#">
          <span>
            <img src="../static/res/watson_logo.png" alt="Watson_Logo" class="center-block"/>
          </span>
          <h2 class="text-center">Coach <b>Watson</b></h2>
        </a>

        <div class="col-xs-12">
          <span class="row">
            <i class="material-icons col-xs-2">account_circle</i>
            <h4 class="text-center col-xs-8" style="margin:0px;">Username</h4>
            <i class="material-icons col-xs-2">expand_more</i>
          </span>
        </div>
      </div>

      <ul class="nav nav-pills nav-stacked">
        <li role="presentation" class="active">
          <a href="#">
            Ask Watson
            <i class="material-icons">question_answer</i>
          </a>
        </li>
        <li role="presentation">
          <a href="#">
            Workouts
            <i class="material-icons">favorite</i>
          </a>
        </li>
        <li role="presentation">
          <a href="#">
            Nutrition Planner
            <i class="material-icons">local_dining</i>
          </a>
        </li>
        <li role="presentation">
          <a href="#">
            Goal Tracker
            <i class="material-icons">timeline</i>
          </a>
        </li>
        <li role="presentation">
          <a href="#">
            Calendar
            <i class="material-icons">event</i>
          </a>
        </li>
      </ul>

    </div>


    <!-- CENTER PANEL -->
    <div id="panel-center" class="col-xs-12 col-sm-9 col-lg-10">

      <!-- top nav bar -->
      <div id="center-nav" class="row">
        <div class="col-xs-12">

          <form class="input-group">
            <span id="input-menu" class="input-group-addon"><i class="material-icons">menu</i></span>
            <input id="query-bar" type="text" class="form-control" placeholder="What can I do ya for?" aria-describedby="basic-addon1">
            <span id="input-mic" class="input-group-addon"><i class="material-icons">mic</i></span>
            <span id="input-submit" class="input-group-addon"><i class="material-icons">arrow_forward</i></span>
          </form>

        </div>
      </div>

      <!-- Dialog -->
      <div id="center-content" class="row">
        <div id="center-dialog" class="col-xs-12">

          <!-- answer -->
          <div class="panel panel-default panel-answer">
            <div class="panel-heading">
              I think this might work for you ...
            </div>
            <div class="panel-body">
              <div class="media">
                <div class="media-left">
                  <a href="#">
                    <img class="media-object" src="../static/res/barbellsquat.png" height="100px">
                  </a>
                </div>
                <div class="media-body">
                  <h3 class="media-heading">Barbell Squats</h3>
                  <br>
                  <p>Primary muscles:  <a href="https://en.wikipedia.org/wiki/Quadriceps_femoris_muscle">Quadricepts</a></p>
                  <p>Secondary muscles: <a href="https://en.wikipedia.org/wiki/Calf_(leg)">Calves</a>, <a href="https://en.wikipedia.org/wiki/Gluteal_muscles">Glutes</a>, <a href="https://en.wikipedia.org/wiki/Hamstring">Hamstrings</a></p>
                  <p>Based on your profile stats and goals, I recommend you complete this exercise 2 times/week,
                  at an approximate weight of 100 lbs and set/rep count of 3/10.</p>
                  <a href="#">See more info about this exercise >>> </a>
                </div>
              </div>
            </div>
          </div>

          <!-- question -->
          <div class="panel panel-default panel-question">
            <div class="panel-body">
              What's a good weight training exercise for legs?
            </div>
          </div>

        </div>
      </div>


    </div>

  </div>
</body>
</html>
